#Component-Game 
{
    width: 40%;

    min-width: 450px;
    max-width: 650px;

    position: relative;

    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

#TopRow 
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}