body 
{
    background-color: rgba(32, 32, 32, 1);
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#BodyContent 
{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: calc(100vh - var(--TopbarHeight) - var(--FooterHeight));
    overflow-y: scroll;
}

button 
{
    border: solid 3px grey;
    color: white;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: rgba(32, 32, 32, 1);
    cursor: grab;
}